<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Post</title>
  <!-- load local stylesheet (css) -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- loading jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <h1>post</h1>

  <p>
    <%= data.country %>
    <%= data.city %>
    <!-- <%= data.categories %> -->
    <% if (data.categories && data.categories.length > 0) { %>
      <% data.categories.forEach(function(category) { %>
        <%= category %>
      <% }) %>
    <% } %>
    <%= data.budget %>
    <%= data.travelType %>
    <%= data.rating %>
    <%= data.caption %>
  </p>

<%
  const countryList = [
  "Afghanistan",
  "Albania",
  "Algeria",
  "American Samoa",
  "Andorra",
  "Angola",
  "Anguilla",
  "Antarctica",
  "Antigua and Barbuda",
  "Argentina",
  "Armenia",
  "Aruba",
  "Australia",
  "Austria",
  "Azerbaijan",
  "Bahamas (the)",
  "Bahrain",
  "Bangladesh",
  "Barbados",
  "Belarus",
  "Belgium",
  "Belize",
  "Benin",
  "Bermuda",
  "Bhutan",
  "Bolivia (Plurinational State of)",
  "Bonaire, Sint Eustatius and Saba",
  "Bosnia and Herzegovina",
  "Botswana",
  "Bouvet Island",
  "Brazil",
  "British Indian Ocean Territory (the)",
  "Brunei Darussalam",
  "Bulgaria",
  "Burkina Faso",
  "Burundi",
  "Cabo Verde",
  "Cambodia",
  "Cameroon",
  "Canada",
  "Cayman Islands (the)",
  "Central African Republic (the)",
  "Chad",
  "Chile",
  "China",
  "Christmas Island",
  "Cocos (Keeling) Islands (the)",
  "Colombia",
  "Comoros (the)",
  "Congo (the Democratic Republic of the)",
  "Congo (the)",
  "Cook Islands (the)",
  "Costa Rica",
  "Croatia",
  "Cuba",
  "Curaçao",
  "Cyprus",
  "Czechia",
  "Côte d'Ivoire",
  "Denmark",
  "Djibouti",
  "Dominica",
  "Dominican Republic (the)",
  "Ecuador",
  "Egypt",
  "El Salvador",
  "Equatorial Guinea",
  "Eritrea",
  "Estonia",
  "Eswatini",
  "Ethiopia",
  "Falkland Islands (the) [Malvinas]",
  "Faroe Islands (the)",
  "Fiji",
  "Finland",
  "France",
  "French Guiana",
  "French Polynesia",
  "French Southern Territories (the)",
  "Gabon",
  "Gambia (the)",
  "Georgia",
  "Germany",
  "Ghana",
  "Gibraltar",
  "Greece",
  "Greenland",
  "Grenada",
  "Guadeloupe",
  "Guam",
  "Guatemala",
  "Guernsey",
  "Guinea",
  "Guinea-Bissau",
  "Guyana",
  "Haiti",
  "Heard Island and McDonald Islands",
  "Holy See (the)",
  "Honduras",
  "Hong Kong",
  "Hungary",
  "Iceland",
  "India",
  "Indonesia",
  "Iran (Islamic Republic of)",
  "Iraq",
  "Ireland",
  "Isle of Man",
  "Israel",
  "Italy",
  "Jamaica",
  "Japan",
  "Jersey",
  "Jordan",
  "Kazakhstan",
  "Kenya",
  "Kiribati",
  "Korea (the Democratic People's Republic of)",
  "Korea (the Republic of)",
  "Kuwait",
  "Kyrgyzstan",
  "Lao People's Democratic Republic (the)",
  "Latvia",
  "Lebanon",
  "Lesotho",
  "Liberia",
  "Libya",
  "Liechtenstein",
  "Lithuania",
  "Luxembourg",
  "Macao",
  "Madagascar",
  "Malawi",
  "Malaysia",
  "Maldives",
  "Mali",
  "Malta",
  "Marshall Islands (the)",
  "Martinique",
  "Mauritania",
  "Mauritius",
  "Mayotte",
  "Mexico",
  "Micronesia (Federated States of)",
  "Moldova (the Republic of)",
  "Monaco",
  "Mongolia",
  "Montenegro",
  "Montserrat",
  "Morocco",
  "Mozambique",
  "Myanmar",
  "Namibia",
  "Nauru",
  "Nepal",
  "Netherlands (the)",
  "New Caledonia",
  "New Zealand",
  "Nicaragua",
  "Niger (the)",
  "Nigeria",
  "Niue",
  "Norfolk Island",
  "Northern Mariana Islands (the)",
  "Norway",
  "Oman",
  "Pakistan",
  "Palau",
  "Palestine, State of",
  "Panama",
  "Papua New Guinea",
  "Paraguay",
  "Peru",
  "Philippines (the)",
  "Pitcairn",
  "Poland",
  "Portugal",
  "Puerto Rico",
  "Qatar",
  "Republic of North Macedonia",
  "Romania",
  "Russian Federation (the)",
  "Rwanda",
  "Réunion",
  "Saint Barthélemy",
  "Saint Helena, Ascension and Tristan da Cunha",
  "Saint Kitts and Nevis",
  "Saint Lucia",
  "Saint Martin (French part)",
  "Saint Pierre and Miquelon",
  "Saint Vincent and the Grenadines",
  "Samoa",
  "San Marino",
  "Sao Tome and Principe",
  "Saudi Arabia",
  "Senegal",
  "Serbia",
  "Seychelles",
  "Sierra Leone",
  "Singapore",
  "Sint Maarten (Dutch part)",
  "Slovakia",
  "Slovenia",
  "Solomon Islands",
  "Somalia",
  "South Africa",
  "South Georgia and the South Sandwich Islands",
  "South Sudan",
  "Spain",
  "Sri Lanka",
  "Sudan (the)",
  "Suriname",
  "Svalbard and Jan Mayen",
  "Sweden",
  "Switzerland",
  "Syrian Arab Republic",
  "Taiwan",
  "Tajikistan",
  "Tanzania, United Republic of",
  "Thailand",
  "Timor-Leste",
  "Togo",
  "Tokelau",
  "Tonga",
  "Trinidad and Tobago",
  "Tunisia",
  "Turkey",
  "Turkmenistan",
  "Turks and Caicos Islands (the)",
  "Tuvalu",
  "Uganda",
  "Ukraine",
  "United Arab Emirates (the)",
  "United Kingdom of Great Britain and Northern Ireland (the)",
  "United States Minor Outlying Islands (the)",
  "United States of America (the)",
  "Uruguay",
  "Uzbekistan",
  "Vanuatu",
  "Venezuela (Bolivarian Republic of)",
  "Viet Nam",
  "Virgin Islands (British)",
  "Virgin Islands (U.S.)",
  "Wallis and Futuna",
  "Western Sahara",
  "Yemen",
  "Zambia",
  "Zimbabwe",
  "Åland Islands"
  ];
%>

  <form id="post-form" method="POST" action="/explore" enctype='multipart/form-data'>
    <!-- <p><label>Customer name: <input name="customer" value="<%= data.customer %>"></label></p>
  <p><label>Telephone: <input type=tel name="phone" value="<%= data.phone %>"></label></p>
  <p><label>E-mail address: <input type=email name="addr" value="<%= data.addr %>"></label></p> -->

<!-- <p>
   <label>Country:
     <select name="country">
      <option value="">select country</option>
       <% countryList.forEach(country => { %>
        <% if( data.country=="solo" ) { %>
          <option id="country" value="<%= country %>" selected><%= country %></option>
          <% } else { %>
            <option value="<%= country %>"><%= country %></option>
            <% } %>
       <% }); %>
     </select>
   </label>
</p> -->

<p>
  <label>Country:
    <select name="country">
     <option value="">select country</option>
      <% countryList.forEach(country => { %>
       <% if( data.country == country ) { %> <!-- Check if data.country matches the current country -->
         <option value="<%= country %>" selected><%= country %></option>
       <% } else { %>
         <option value="<%= country %>"><%= country %></option>
       <% } %>
      <% }); %>
    </select>
  </label>
</p>

<p><label> City:
<textarea rows="1" cols="40" name="city" id="city"><%= data.city %></textarea>
</label></p>

<p>
  <label> Categories:</label>
  <div>
    <input type="checkbox" id="food" name="categories" value="food" <% if (data.categories && data.categories.includes("food")) { %> checked <% } %> />
    <label for="food">food</label>
  </div>

  <div>
    <input type="checkbox" id="culture" name="categories" value="culture" <% if (data.categories && data.categories.includes("culture")) { %> checked <% } %> />
    <label for="culture">culture</label>
  </div>

  <div>
    <input type="checkbox" id="art" name="categories" value="art" <% if (data.categories && data.categories.includes("art")) { %> checked <% } %> />
    <label for="art">art</label>
  </div>

  <div>
    <input type="checkbox" id="nature" name="categories" value="nature" <% if (data.categories && data.categories.includes("nature")) { %> checked <% } %> />
    <label for="nature">nature</label>
  </div>

  <div>
    <input type="checkbox" id="history" name="categories" value="history" <% if (data.categories && data.categories.includes("history")) { %> checked <% } %> />
    <label for="history">history</label>
  </div>

  <div>
    <input type="checkbox" id="other" name="categories" value="other" <% if (data.categories && data.categories.includes("other")) { %> checked <% } %> />
    <label for="other">other</label>
  </div>
</p>

<p><label>What was your budget for this trip?
    <select name="budget">
      <option value="">choose budget</option>

      <% if( data.budget=="low" ) { %>
        <option value="low" selected>low</option>
        <% } else { %>
          <option value="low">low</option>
          <% } %>

            <% if( data.budget=="medium" ) { %>
              <option value="medium" selected>medium</option>
              <% } else { %>
                <option value="medium">medium</option>
                <% } %>

                  <% if( data.budget=="high" ) { %>
                    <option value="high" selected>high</option>
                    <% } else { %>
                      <option value="high">high</option>
                      <% } %>
    </select>
</label></p>

  <p><label>Did you travel solo or with a friend?
      <select name="travelType">
        <option value="">select solo or group</option>

        <% if( data.travelType=="solo" ) { %>
          <option value="solo" selected>solo</option>
          <% } else { %>
            <option value="solo">solo</option>
            <% } %>

              <% if( data.travelType=="group" ) { %>
                <option value="group" selected>group</option>
                <% } else { %>
                  <option value="group">group</option>
                  <% } %>
      </select>
</label></p>

<!-- <p><label> Rate your experience on a scale from 1 (worst) to 5 (best):
  <label><input type="radio" name="rating" value="1">1 </label>
  <label><input type="radio" name="rating" value="2">2</label>
  <label><input type="radio" name="rating" value="3">3</label>
  <label><input type="radio" name="rating" value="4">4</label>
  <label><input type="radio" name="rating" value="5">5</label>
</label></p> -->

<!-- <p>
  <label> Rate your experience on a scale from 1 (worst) to 5 (best):</label>
  <select name="rating">
    <option value="">select rating</option>
    <% for (let i = 1; i <= 5; i++) { %>
      <% if (data.rating && data.rating == i.toString()) { %>
        <option id = "rating" value="<%= i %>" selected><%= i %></option>
      <% } else { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    <% } %>
  </select>
</p> -->

<p>
  <label> Rate your experience on a scale from 1 (worst) to 5 (best):</label>
  <select name="rating">
    <option value="">select rating</option>
    <% for (let i = 1; i <= 5; i++) { %>
      <% if (data.rating && data.rating === i.toString()) { %>
        <option value="<%= i %>" selected><%= i %></option>
      <% } else { %>
        <option value="<%= i %>"><%= i %></option>
      <% } %>
    <% } %>
  </select>
</p>

<p><label>
  <div class="input-group">
    <label for='files'>Upload images:</label>
    <input id='files' type="file" accept="image/*" name="files" multiple>
  </div>
</label></p>


<p><label>Caption:
      <textarea rows="5" cols="50" name="caption" id="caption"><%= data.caption %></textarea>
</label></p>

  <p><button type="submit">Post</button></p>
</form>

  <!-- load local js -->
<script src="/main.js"></script>
<script src="/post.js"></script>
</body>

</html>