<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Odyssey</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
    <h1>Welcome, <%= username %>!</h1>

    <div>
        <% if (following.length > 0) { %>
            <% if (posts.length > 0) { %>
                <% posts.forEach(post => { %>
                    <%- include('post', { post: post, username: username }) %>
                <% }); %>
        <% } else { %>
            <p>You are not following anyone yet.</p>
        <% } %>
    </div>

    <%- include("partials/bottombar.ejs") %>

    <footer class="footer">
        <p>Copyright © The Odyssey Team 2024 all rights reserved.</p>
    </footer>

    <!-- load local js -->
    <script src="/main.js"></script>
<!-- uid script -->
</body>
</html>
