<div class="post-container">
    <div class="header">
        <div class="location"><%= post.location.country %>, <%= post.location.city %></div>
        <div class="date-time"><%= new Date(post.timestamp).toISOString() %></div>
    </div>
    <div class="username">@<%= post.authorID %></div>
    <div class="image-container">
        <% if (post.content.images) { %>
            <img src="<%= post.content.images %>" alt="Travel image of <%= post.location.city %>">
        <% } else { %>
            <img src="/path/to/default-image.jpg" alt="Default Image">
        <% } %>
    </div>
    <div class="tags">
        <span class="tag">Budget: <%= post.budget %></span>
        <span class="tag">Travel Type: <%= post.travelType %></span>
        <span class="tag">Rating: <%= post.rating %></span>
    </div>
    <div class="caption"><%= post.content.text %></div>
</div>
