<head>
    <meta charset="UTF-8" />
    <title>Post</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="post-container">
    <div class="header">
        <div class="location"><%= post.location.country %>, <%= post.location.city %></div>
        <div class="date-time" data-timestamp="<%= post.timestamp %>"></div>
        <div class="post-controls">
            <% if (post.username === username) { %>
                <button class="save-post-button" type="button" data-post-id="<%= post._id %>">Save</button>
                <!-- Dropdown for edit and delete -->
                <div class="post-settings">
                    <button class="settings-btn">⋮</button>
                    <div class="settings-dropdown">
                        <a href="/edit/<%= post._id %>" class="edit-post-button">Edit</a>
                        <button type="button" class="delete-post-button" onclick="deletePost('<%= post._id %>')">Delete</button>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div class="username">
        <% if (post.username === username) { %>
            <a href="/profile">@<%= post.username %></a>
        <% } else { %>
            <a href="/user/<%= post.username %>">@<%= post.username %></a>
        <% } %>
    </div>
    <div class="image-container">
        <% if (post.content.images) { %>
            <img src="/uploads/<%= post.content.images %>" alt="Travel image of <%= post.location.city %>">
        <% } else { %>
            <img src="/path/to/default-image.jpg" alt="Default Image">
        <% } %>
    </div>
    <div class="tags">
        <span class="tag">Budget: <%= post.budget %></span>
        <span class="tag">Travel Type: <%= post.travelType %></span>
        <span class="tag">Rating: <%= post.rating %></span>
    </div>
    <div class="caption"><%= post.content.text %></div>
    <div class="like-section"> 
        <p class="likeCounter"><%= post.likes ? post.likes : '0' %></p>
        <button class="likeBtn" type="button" data-post-id="<%= post._id %>">❤️ like!</button>   
    </div>
    <div class="comment-section"> 
        <input type="text" name="comment" placeholder="Comment">
        <button class="sendComment" type="button" data-post-id="<%= post._id %>">Send</button>
    </div>
</div>

<script>
    function deletePost(postId) {
        if (confirm('Are you sure you want to delete this post?')) {
            $.ajax({
                url: '/delete/' + postId,
                type: 'DELETE',
                success: function(result) {
                    window.location.reload(true);
                }
            });
        }
    }
</script>
