<head>
    <meta charset="UTF-8" />
    <title>Post</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<div class="post-container">
    <div class="header">
        <div class="location"><%= post.location.country %>, <%= post.location.city %></div>
        <div class="date-time"><%= new Date(post.timestamp).toISOString() %></div>
        <% if (post.username === username) { %>
            <a href="/edit/<%= post._id %>" class="edit-post-button">Edit</a>
        <% } %>
    </div>
    <div class="username">@<%= post.username %></div>
    <div class="image-container">
        <% if (post.content.images) { %>
            <img src="/uploads/<%= post.content.images %>" alt="Travel image of <%= post.location.city %>">
        <% } else { %>
            <img src="/path/to/default-image.jpg" alt="Default Image">
        <% } %>
    </div>
    <div class="tags">
        <span class="tag">Budget: <%= post.budget %></span>
        <span class="tag">Travel Type: <%= post.travelType %></span>
        <span class="tag">Rating: <%= post.rating %></span>
    </div>
    <div class="caption"><%= post.content.text %></div>

    <!-- ADDED LIKE STUFF BELOW -->

    <button class="likeBtn" type="button" data-post-id="<%= post.id %>">
        ❤️ like!
    </button>
    <p class="likeCounter">
        <%= post.likes ? post.likes : '0' %>
    </p>

</div>
