<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/
        ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>

    <h1>Welcome to <%= username %>'s page</h1>
    <div>
        <p>@<%= username %></p>
        <button class="follow-button" type="button" 
            data-username="<%= username %>">
            Follow
        </button>
    </div>

    <p><%= bio %></p>

    <p><%= followers %> Followers</p>
    <p><%= following %> Following</p>

    <body>
        <form action="/profile" method="POST">
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <%- include('post', { post: post }) %>
            <% }); %>
        <% } else { %>
            <p>No posts yet.</p>
        <% } %>
        </form>
    </body>

    <p>
        <form action="/logout" method="POST">
          <button class="profile-button">Logout</button>
        </form>
    </p>

    <footer class="footer">
        <p>Copyright © The Odyssey Team 2024 all rights reserved.</p>
    </footer>

    <!-- load local js -->
    <script src="/main.js"></script>
<!-- uid script -->
</body>
</html>
